body {
    margin-left: auto;
    margin-right: auto;
    background-image: url(./backg.jpg);
    background-size: cover;
    background-position: 15% 8%;
    background-attachment: scroll;
}

.header {
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 45px;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 740px;
    background-color: rgba(250, 247, 247, 0.4);
}

.name {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.image {
    display: block;
    height: 280px;
    border-style: solid;
    border-width: 2px;
    border-color: ivory;
    border-radius: 20px;
}

h2 {
    margin-left: 40px;
    font-size: 40px;
}

h3 {
    margin: 15px 0 2px 0;
    font-size: 25px;
}

h5 {
    margin: 0;
    font-size: 20px;
}

h6 {
    margin: 5px 0;
    font-size: 20px;
}

ul {
    margin: 2px 0 2px 0;
}
 li {
    margin: 2px 0 2px 0;
    font-size: 20px;
 }

p {
    margin: 2px 0 2px 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.info {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.column1, .column2 {
    width: 500px;
    margin: 0 10px 0 10px;
}

.contacts {
    margin-top: 30px;
}

.telegram {
    display: flex;
    justify-content: center;
}

.telegram_logo {
    width: 30px;
}

.tel_name {
    margin-left: 10px;
}

footer {
    margin: 0 auto;
    color: ivory;
    width: 240px;
}

.git {
    width: 30px;
}

.RSSchool {
    width: 70px;
}

.footer_ul {
    display: flex;
}

.footer_li {
    display: inline;
    margin: 0;
    padding: 0 20px;
}